altgraph==0.17.4
fire==0.7.1
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==25.0
pyfzf==0.3.1
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyperclip==1.9.0
rich==14.1.0
setuptools==80.9.0
termcolor==3.1.0
